.rating {
	position: relative;

	justify-self: left;
}

.star {
	display: inline-block;
}

.filled svg {
	fill: var(--primary);
}

.error svg {
	stroke: var(--red);
}

.star svg {
	margin-right: 5px;
}

.star.highlight:hover svg {
	fill: var(--primary-hover);
}

.editable {
	cursor: pointer;
}

.error {
	border: 1px solid var(--red);
	border-radius: 5px;
}

.errorMessage {
	position: absolute;
	top: -20px;
	left: 0;

	color: var(--red);

	font-size: 12px;
}
