.product {
	display: grid;
	grid-template-columns:
		[start] 70px [logoend] 30px [titlestart] calc(50% - 100px)
		[middle] 1fr [pricestart] auto [priceend] 40px [creditstrat] auto [creditend] 40px [ratestart] auto [end];

	margin-bottom: 30px;
	padding: 30px;
}

.logo {
	grid-column: start / logoend;
	grid-row: 1 / span 2;
}

.title,
.tags {
	grid-column: titlestart / middle;
}

.price,
.priceTitle {
	grid-column: pricestart / pricestart;
}

.credit,
.creitTitle {
	grid-column: creditstrat / creditend;
}

.raiting,
.rateTitle {
	grid-column: ratestart / end;
}

.hr {
	grid-column: start / end;
}

.description,
.actions {
	grid-column: start / end;
}

.feature {
	grid-column: start / middle;
}

.advBlock {
	grid-column: middle / end;
}

.logo > img {
	border-radius: 5px;
}

.title {
	align-self: flex-end;

	font-size: 20px;
	font-weight: 600;
	font-style: normal;
	line-height: 27px;
}

.price {
	display: grid;
	align-items: center;
	grid-template-columns: auto auto;
}

.price,
.credit {
	align-self: flex-end;

	font-size: 20px;
	line-height: 27px;
}

.month {
	font-size: 14px;
	line-height: 19px;
}

.raiting {
	align-self: flex-end;
}

.oldPrice {
	margin-left: 5px;
}

.description {
	font-size: 16px;
	line-height: 24px;
}

.priceTitle,
.creitTitle,
.rateTitle {
	font-size: 14px;
	font-weight: 300;
	line-height: 19px;
}

.category {
	margin-top: 7px;
}

.reviewButton {
	margin-left: 20px;
}
