.product {
	display: grid;
	grid-template-columns:
		[start] 70px [logoend] 30px [titlestart] calc(50% - 100px)
		[middle] 1fr [pricestart] auto [priceend] 40px [creditstrat] auto [creditend] 40px [ratestart] auto [end];

	margin-bottom: 30px;
	padding: 30px;
	padding-bottom: 20px;
}

.logo {
	grid-column: start / logoend;
	grid-row: 1 / span 2;
}

.title,
.tags {
	grid-column: titlestart / middle;
}

.price,
.priceTitle {
	grid-column: pricestart / pricestart;
}

.credit,
.creditTitle {
	grid-column: creditstrat / creditend;
}

.raiting,
.rateTitle {
	grid-column: ratestart / end;
}

.hr {
	grid-column: start / end;
}

.description,
.actions {
	grid-column: start / end;
}

.feature {
	grid-column: start / middle;
}

.advBlock {
	grid-column: middle / end;

	font-size: 16px;
	line-height: 22px;
}

.logo > img {
	border-radius: 5px;

	/* height: 70px;
	width: 70px; */
}

.title {
	align-self: flex-end;

	font-size: 20px;
	font-weight: 600;
	font-style: normal;
	line-height: 27px;
}

.price {
	display: grid;
	align-items: center;
	grid-template-columns: auto auto;
}

.price,
.credit {
	align-self: flex-end;

	font-size: 20px;
	line-height: 27px;
}

.month {
	font-size: 14px;
	line-height: 19px;
}

.raiting {
	align-self: flex-end;
}

.oldPrice {
	margin-left: 5px;
}

.description {
	margin-bottom: 15px;

	font-size: 16px;
	line-height: 24px;
}

.priceTitle,
.creditTitle,
.rateTitle {
	font-size: 14px;
	font-weight: 300;
	line-height: 19px;
}

.category {
	margin-top: 7px;
}

.reviewButton {
	margin-left: 20px;
}

.advTitle {
	margin-bottom: 5px;

	font-weight: bold;
}

.advantages {
	padding-left: 15px;

	border-left: 3px solid var(--green);
	border-radius: 2px;
}

.advantages:not(:last-child) {
	margin-bottom: 20px;
}

.disadvantages {
	padding-left: 15px;

	border-left: 3px solid var(--red);
	border-radius: 2px;
}

.characteristics {
	display: grid;
	align-items: baseline;
	gap: 10px;

	padding-right: 60px;

	grid-template-columns: auto 1fr auto;
}

.characteristicsName {
	font-size: 16px;
	font-weight: bold;
	line-height: 32px;
}

.characteristicsValue {
	overflow: hidden;

	white-space: nowrap;
	text-overflow: ellipsis;

	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}

.characteristicsDots {
	height: 1px;

	margin-bottom: 5px;

	border-bottom: 1px dashed var(--silver-light);
}

@media screen and (max-width: 1330px) {
	.product {
		grid-template-columns: 70px 30px auto 40px auto 40px 1fr;
		grid-template-areas:
			'logo . title title title title title'
			'logo . tags tags tags tags tags'
			'price price price . credit . raiting'
			'priceTitle priceTitle priceTitle . creditTitle . rateTitle'
			'hr hr hr hr hr hr hr'
			'description description description description description description description'
			'feature feature feature feature feature feature feature'
			'advBlock advBlock advBlock advBlock advBlock advBlock advBlock'
			'hr2 hr2 hr2 hr2 hr2 hr2 hr2'
			'actions actions actions actions actions actions actions';
	}

	.logo {
		grid-area: logo;
	}

	.title {
		grid-area: title;
	}

	.tags {
		grid-area: tags;

		margin-bottom: 20px;
	}

	.price {
		grid-area: price;
	}

	.credit {
		grid-area: credit;
	}

	.raiting {
		grid-area: raiting;
	}

	.priceTitle {
		grid-area: priceTitle;
	}

	.creditTitle {
		grid-area: creditTitle;
	}

	.rateTitle {
		grid-area: rateTitle;
	}

	.hr {
		grid-area: hr;
	}

	.description {
		grid-area: description;
	}

	.feature {
		grid-area: feature;

		margin-bottom: 20px;
	}

	.advBlock {
		grid-area: advBlock;
	}

	.hr2 {
		grid-area: hr2;
	}

	.actions {
		grid-area: actions;
	}
}

@media screen and (max-width: 640px) {
	.product {
		grid-template-columns: 70px 30px 1fr;
		grid-template-areas:
			'logo . title'
			'logo . tags'
			'priceTitle . price'
			'creditTitle . credit'
			'rateTitle . raiting'
			'hr hr hr'
			'description description description'
			'feature feature feature'
			'advBlock advBlock advBlock'
			'hr2 hr2 hr2'
			'actions actions actions';
	}

	.price {
		display: grid;
		align-items: center;
		grid-template-columns: auto 1fr;

		margin-bottom: 10px;
	}

	.oldPrice {
		justify-self: flex-start;
	}

	.credit {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 480px) {
	.product {
		grid-template-columns: 1fr;
		grid-template-areas:
			'logo'
			'title'
			'tags'
			'price'
			'priceTitle'
			'credit'
			'creditTitle'
			'raiting'
			'rateTitle'
			'hr'
			'description'
			'feature'
			'advBlock'
			'hr2'
			'actions';
	}

	.price {
		margin-bottom: 0;
	}

	.credit {
		margin-bottom: 0;
	}

	.priceTitle {
		margin-bottom: 10px;
	}

	.creditTitle {
		margin-bottom: 10px;
	}
}
