.tag {
	display: inline-block;

	margin: 0 5px 0 0;

	padding: 5px 10px;

	cursor: default;

	text-align: center;

	border-radius: 20px;
}

.small {
	font-size: 12px;
	line-height: 16px;
}

.middle {
	font-size: 14px;
}

.ghost {
	border: 1px solid var(--gray-light);
	background: none;
}

.gray {
	color: var(--white);

	background: #B3C0D9;

	font-weight: 600;

	line-height: 14px;
}

.green {
	color: var(--green);

	background: var(--green-light);

	font-weight: 700;

	line-height: 12px;
}

.red {
	color: var(--white);

	background: #DE0000;

	font-weight: 600;

	line-height: 14px;
}

.primary {
	margin-right: 10px;
	padding: 2px 16px;

	color: var(--primary);
	border: 1px solid var(--primary);

	background: none;

	font-weight: 500;
}
